* {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif
}

.function-hall {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px;
    padding: 10px;

}

.rupees {
    color: rgb(255, 230, 0);
    font-size: 19px;
}

.button-book {
    background-color: #0d6efd;
    padding: 4px 16px;
    border-radius: 7px;
    color: white;
    border: none;
    height: 37px !important;
}

.hall_image {
    width: 200px;
    height: 200px;
    max-width: 90vw;

    border-radius: 8px;
}

.card-body {
    margin-left: 15px;
}

@media (max-width : 760px) {

    .function-hall {
        width: 90vw;
        max-width: 90vw;

    }

    .card-body {
        margin-left: 0px;
        margin-top: 10px;
    }

}




.package-cost {
    font-size: 22px;
    color: rgb(34, 105, 237);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

/* .right-obj {
    width: 50%;
    font-size: 18px;
} */

.hall_name {
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 0px;
    text-shadow: 1px 1px 0.5px #700f0f;
    color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif
}